frontend/node_modules
frontend/package-lock.json
frontend/dist
frontend/.next
frontend/public/api
frontend/public/api/images
frontend/public/api/images/dishes
frontend/public/api/images/dishes/1
frontend/public/api/images/dishes/2
frontend/public/api/images/dishes/3