# Composer dependencies
/vendor/
/composer.lock
/composer.phar

# PHPUnit
.phpunit.result.cache

# PHP CS Fixer
.php_cs.cache

# PHPStan
/phpstan.cache

# Symfony
/.env.local.php
/.env.*.local
/.env.local
/.env.test.local
/.env.development.local
/.env.production.local
/.env.staging.local
/.env.preprod.local
/.env.phpunit
